# History files
.Rhistory
.RData
# Example code in package build process
*-Ex.R
.git
.Rproj.user
epinemo.Rcheck
Gemfile
epinemo.Rproj
epinemoGithub.Rproj

##### fernandosm files ######
calculate_infection_chain.R